body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tab-container {
    padding: 50px;
}

h1, h2, p {
    font-family: "Inter", fantasy;
}

h1 {
    text-transform: uppercase;
}

h1, h2 {
    font-size: 20pt;
}

p {
    font-size: 17pt;
}

.div-about {
    justify-content: center;
    align-content: center;
    color: white;
    background-color: #2A2D63;
    border: 3px solid white;
    padding: 20px;
    border-radius: 10px;
}

.paragraphe {
    max-width: 70rem;
    font-size: 1.2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-content: center;
}

.contenu {
    padding-top: 20px;
}
