.container {
    justify-content: center;
    align-content: center;
}

.tab-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, h2 {
    font-family: "Inter", fantasy;
}

h1 {
    text-transform: uppercase;
    font-size: 20pt;
}

h2 {
    font-size: 17pt;
}

.block-contenu {
    background-color: #2A2D63;
    border: 3px solid white;
    border-radius: 10px;
}

.event-title, .event-image,
.event-corps, .event-date,
.event-lieu, .event-condition,
.event-inscription, .event-information {
    color: white;
}

.event-title, .event-image {
    display: flex;
    justify-content: center;
    align-content: center;
}

.event-inscription a {
    color: #FF0000;
}

.event-information {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.event-date, .event-information {
    padding-top: 20px;
}

.event-date, .event-lieu,
.event-condition, .event-inscription {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 20px;
}

.title {
    font-size: 40pt;
}

.event-image {
    padding: 20px;
    background-color: #09182D;
    background-clip: content-box;
    border-radius: 50px;
}

.image {
    max-width: 20%;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.corps {
    padding: 20px;
    white-space: pre-line;
    line-height: 2;
}
