.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tab-container {
    text-align: center;
    padding: 50px;
}

h1, h3 {
    font-family: "Inter", fantasy;
}

h1 {
    text-transform: uppercase;
    font-size: 20pt;
}

h3 {
    font-size: 13pt ;
}

.box-bureau {
    background-color: #2a2d63;
    border: 3px solid white;
    border-radius: 10px;
}

.block-presidence, .block-tresorie,
.block-secretaria, .block-coordinateur,
.block-communication, .block-evenementiel {
    padding: 20px;
}

.presidence, .tresorie, .secretaria,
.coordinateur, .communication, .evenementiel {
    color: white;
}

.list-row {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.list {
    padding: 20px;
}

.imgMembre {
    max-width: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.imgMembre img {
    width: 100%;
    height: auto;
    display: block;
}

.membre-bde {
    background-color: #2A2D63;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    color: white;
}
