<!DOCTYPE html>
<html>
<head>
    <title>Panier</title>
    <style>
        @font-face {
            font-family: Inter;
            src: url("assets/Inter.ttf");
        }
    </style>
</head>
<body>

<div class="container">
    <div>
        <div id="test">TEST</div>
    </div>
    <div>
        <button class="buttonAdd" (click)="clearProduct()" >Vider le panier</button>
    </div>

    <div class="">
        <div *ngFor="let product of products" class="list-item">
            <div>
                {{product.product.name}} : {{product.quantity}}
            </div>
            <div>
                <button class="buttonAdd" (click)="modifyQuantity(product.product.guid, 1)" >+1</button>
            </div>
            <div>
                <button class="buttonAdd" (click)="modifyQuantity(product.product.guid, -1)" >-1</button>
            </div>
        </div>
    </div>

</div>


</body>
</html>
