.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
    background: #09182D;
    color: #B4B6BA;
}

html{
    background: #09182D;
    color: #B4B6BA;
}

.list {
    width: auto;
    display: flex;
    list-style: none;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
    flex-direction: column;
}

.list-item {
    width: auto; /* A quarter of the parent's width */
    height: 100%;
    border: 2px solid #B4B6BA;
    padding: 35px;
    margin: 10px;
    right: 35px;
    display: flex;
    flex-direction: column;
}
