/* You can add global styles to this file, and also import other style files */

ul {
    width: auto;
    padding: 0;
}

body,html{
    margin: 0;
    width: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 0; /* Remove default padding */
    background: #09182D;
}

body::-webkit-scrollbar {
    display:none;
}

